//*****************************************************
//*   Variables
//*****************************************************

//*Colors
$primary-color: #272727;
$secondary-color: #66ff00;
$text-color: #eee;

//font
$height: 100vh;
$font-family: Arial, Helvetica, sans-serif;
$backImage: "../../images/project-4.jpg";
$border: 3px double $secondary-color;
