@import "./sass/abstracts/variables", "./sass/abstracts/mixins";
@import "./sass/base/reset";
@import "./sass/components/footer", "./sass/components/header",
  "./sass/components/nav", "./sass/components/responsive";
@import "../4.My_Project_Basic_MK/images/project-4.jpg";

/*_reset.scss dosyasına gonderılecek*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  //   background-image: $backImage;
  border: $border;
  height: $height;
}
.home-bgImg-container {
  background-image: $backImage;
}
